.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #09337c;
  transition: background 0.3s ease;
}
.btn-flat:hover {
  background: #2e55c8;
  color: white;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}
.btn-cancel:hover {
  background: #8a8a8a;
  color: white;
}
